<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Create new user</h1>
<form action="users/create" method="POST">
    <label>Name</label>
    <input name="username" /><br><br>
    <input name="age" type="number" min="1" max="140" /><br><br>
    <input type="submit" value="Send" />
</form>
<h1>User list</h1>
{{#each users}}
    <div style="border: 1px solid green; padding: 15px">
        <h3>Username - {{this.username}}</h3>
        <p>Age - {{this.age}}</p>
        <button onclick="removeById({{this.id}})">
            DELETE
        </button>
    </div>
{{/each}}
<script>
    function removeById(id){
        fetch(`http://localhost:3001/users/remove?id=${id}`, {
            method: 'DELETE'
        }).then(() => window.location.reload())
    }
</script>
</body>
</html>
